<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/style.css">
	<title>Bereza_Motors</title>
</head>
<body>
	<div class="contener_flex">
		<div class="nav_1">
			<section>
    			
    			<select class="cs-select">
        			<option value="1">Автозапчасти</option>
        			
    			</select>
    			<select class="cs-select">
        			<option value="1">Автокаталог</option>
        			
    			</select>
    			<a class="nav_1_a" href="#">Контакты</a>
    			<a class="nav_1_a" href="#">Сотрудничество</a>
			</section>
		</div>
		<div class="nav_2">
			<div class="reg">
				<a class="reg_btn"href="auth.html">Личный кабинет</a>
				<a class="reg_a" href="registration.html">Регистрация</a>
				
			</div>
			<div class="nav_icon">
				<img class="img_icon" src="img/basket.png" alt=""width="24" height="24">
				<img class="img_icon" src="img/list.png" alt="" width="24" height="24">
			</div>
			<div >
				<form> 
  					<input class="nav_search"type="search" name="text" class="search" placeholder="Что вы хотите найти?">
  					<input type="submit" name="submit" class="search_btn" value="Найти">
				</form>
			</div>
			<div class="nav_text_cont">
				<a class="nav_text"  href="#">Главная</a>
				<a class="nav_text" href="#">Автокаталог</a>
			</div>
			<div>
				<h2 class="nav_h2">Все марки</h2>
			</div>
			<div>
				<form> 
  					<input class="nav_search"type="search" name="text" class="search" placeholder="Что вы хотите найти?">
  					<input type="submit" name="submit" class="search_btn" value="Найти">
				</form>
			</div>
		</div>	
	</div>

	
	
		
	
	<div class="auto_box">
		<div class="content_auto">
			<img class="img_auto" src="img/AUDI.png" alt="" width="95" height="100">
			<p>AUDI</p>
		</div>
		<div class="content_auto">
			<img src="img/BMW.png" alt=""width="95" height="100">
			<p>BMW</p>
		</div>
		<div class="content_auto">
			<img src="img/CITROEN.png" alt=""width="95" height="100">
			<p>CITROEN</p>
		</div>
		<div class="content_auto">
			<img src="img/FORD.png" alt=""width="95" height="100">
			<p>FORD</p>
		</div>
		<div class="content_auto">
			<img src="img/KIA.png" alt=""width="95" height="100">
			<p>KIA</p>
		</div>
		<div class="content_auto">
			<img src="img/LAND ROVER.png" alt=""width="95" height="100">
			<p>LAND ROVER</p>
		</div>
		<div class="content_auto">
			<img src="img/MAZDA.png" alt=""width="95" height="100">
			<p>MAZDA</p>
		</div>
		<div class="content_auto">
			<img src="img/MERCEDES.png" alt=""width="95" height="100">
			<p>MERCEDES</p>
		</div>
		<div class="content_auto">
			<img src="img/MITSUBISHI.png" alt=""width="95" height="100">
			<p>MITSUBISHI</p>
		</div>
		<div class="content_auto">
			<img src="img/LI AUTO.png" alt=""width="95" height="100">
			<p>LI AUTO</p>
		</div>
		<div class="content_auto">
			<img src="img/NISSAN.png" alt=""width="95" height="100">
			<p>NISSAN</p>
		</div>
		<div class="content_auto">
			<img src="img/OPEL.png" alt=""width="95" height="100">
			<p>OPEL</p>
		</div>
		<div class="content_auto">
			<img src="img/PEUGEOT.png" alt=""width="95" height="100">
			<p>PEUGEOT</p>
		</div>
		<div class="content_auto">
			<img src="img/TOYOTA.png" alt=""width="95" height="100">
			<p>TOYOTA</p>
		</div>
		<div class="content_auto">
			<img src="img/VOLKSWAGEN.png" alt=""width="95" height="100">
			<p>VOLKSWAGEN</p>
		</div>
		<div class="content_auto">
			<img src="img/GEELY.png" alt=""width="95" height="100">
			<p>GEELY</p>
		</div>
	</div>	
	<div class="foter">
		
	</div>
</body>
</html>