<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/style.css">
	<title>Bereza_Motors</title>
</head>
<body>
	<div class="exit">
		<a href="index.html">
			<img src="img/exit.png" alt=""width="12" height="12">
		</a>
	</div>
	<div class="login">
		<div class="login_form">
		<form >
    		<div class="row_logo">
    			<h5>ЛИЧНЫЙ КАБИНЕТ</h5>
  			</div>
  			<div class="flex-row">
    			<input id="username" class='lf--input' placeholder='Введите номер телефона' type='text'>
  			</div>
  			<div class="flex-row">
    			<input id="username" class='lf--input' placeholder='Введите E-mail' type='text'>
  			</div>
  			<div class="flex-row">
    			<input id="username" class='lf--input' placeholder='Введите пароль' type='text'>
  			</div>
  			<div class="flex-row">
    			<input id="password" class='lf--input' placeholder='Повторите пароль' type='password'>
    			<input class='lf--submit' type='submit' value='ЗАРЕГЕСТРИРОВАТЬСЯ'>
  			</div>
  			
  				
			</div>
  
			</form>
			
			</div>
		</div>	
	</div>
	<div class="foter">
		
	</div>
</body>
</html>